.cards {
    padding: 70px 70px 80px;
}

.cards__container {
    display: grid;
    gap: 30px 24px;
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    margin: 0 auto;
}

.cards__button {
    width: 100%;
    margin-top: 80px;
    background: #F4F4F4;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    height: 36px;
    cursor: pointer;
}

@media (max-width:768px) {
    .cards {
        padding: 74px 30px 80px;
    }

    .cards__container {
        gap: 36px 30px;
    }
}

@media (max-width:520px) {
    .cards {
        padding: 40px 10px 80px;
    }

    .cards__container{
        gap: 12px;
    }
}